<% if (region !== 'Global') { %>
  <div class="aggregate-bar">
    <h2 class="aggregate-title"><%= region %> Summary</h2>
    <% if (false) { %>
    <% _.each(regionStats, function(value) { %>
    <% if (value.info.value) { %>
      <div class="aggregate-stat">
        <div class="aggregate-stat-title">
          <span><%= value.name %></span>
          <span class="year">(<%= value.info.year%>)</span>
        </div>
        <div class="aggregate-stat-info">
          <span><%= numberWithCommas(value.info.value) %><%= value.suffix %></span>
        </div>
      </div>
    <% } %>
    <% }); %>
    <% } %>
  </div>
  <% _.each(aggregate.graphs, function(value, index) { %>
	  <div class="col-sm-4 col-md-4 col-xs-6 row-country">
		  <div class="inner">
			  <a class="more-info" href="#" data-toggle="popover" title="<%= value.name %>" data-content="<%= Mi.description[value.type] %>">?</a>
				  <span class="mi-ratio-value"><a><%= value.mainValue.toFixed(2) %>%</a></span>
					<span class="mi-ratio-label"><%= value.name %></span>
					<div id="chart-<%= value.type %>" class="hchart"></div>
					<span class="mi-crude-value"><%= numberWithCommas(value.crudeCoverage) %> lives insured</span>
					<span class="mi-year-value">Year: <%= year %></span>
				</div>
			</div>
  <% }) %>
<% } %>
<% if (region !== 'Global') { %>
  <div class="aggregate-bar">
    <h2 class="aggregate-title">Countries</h2>
  </div>
<% } %>
<% if (data.filter(function(d){ return d.mainValue > 0; }).length) { %>
  <% _.each(data, function(value) { %>
    <% if (value.mainValue > 0) { %>
      <div class="col-sm-4 col-md-3 col-xs-6 row-country" data-mi-ratio="<%= value.mainValue %>">
        <div class="inner">
          <a class="more-info" data-toggle="popover" data-content="<%= Mi.description[type] %>">?</a>
          <b><%= value.country %></b>
          <br>
          <span class="mi-ratio-value"><a href="#country/<%= value.iso %>"><%= value.mainValue.toFixed(2) %>%</a></span>
          <span class="mi-ratio-label"><%= value.name %></span>
          <div id="<%= value.iso %>-chart" class="hchart"></div>
          <span class="mi-crude-value"><%= numberWithCommas(value.crudeCoverage) %> lives insured</span>
          <span class="mi-year-value">Year: <%= value.filterYear %></span>
        </div>
      </div>
    <% } %>
  <% }) %>
<% } else { %>
  <h2 class="country-title">No data</h2>
<% } %>
