<div class="aggregate-country">
  <h2 class="country-title"><%= data[0]["country"] %></h2>
  <% _.each(countryStats, function(value) { %>
  <% if (value.info.value) { %>
    <div class="country-stat">
      <div class="country-stat-title">
        <span><%= value.name %></span>
        <span class="year">(<%= value.info.year%>)</span>
      </div>
      <div class="country-stat-info">
        <span><%= numberWithCommas(value.info.value) %><%= value.suffix %></span>
      </div>
    </div>
  <% } %>
  <% }); %>
</div>
<% _.each(data, function(value, index) { %>
  <% if (value.name.indexOf('ratio') >= 0 && value.mostRecent.value != null && value.mostRecent.value > 0 && value.name != 'Life coverage ratio (excluding credit life)' && value.name != 'Life and accident coverage ratio (excluding credit life)') { %>
	  <div class="col-sm-4 col-md-3 col-xs-6 row-country <%= value.varName %>">
		  <div class="inner">
			  <a class="more-info" href="#" data-toggle="popover" title="<%= value.name %>" data-content="<%= Mi.description[value.varName] %>">?</a>
				  <span class="mi-ratio-value"><a href="#country/<%= value.iso %>"><%= value.indicatorValue %></a></span>
					<span class="mi-ratio-label"><%= value.name %></span>
					<div id="<%= value.iso %>-chart-<%= index %>" class="hchart"></div>
					<span class="mi-crude-value"><%= numberWithCommas(value.crudeCoverage) %> lives insured</span>
					<span class="mi-year-value">Year: <%= value.mostRecent.year %></span>
				</div>
			</div>
  <% } %>
<% }) %>
